.header{
    grid-area: h;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}


.logo {
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
    color: #ffffff;
}


.loginBlock {
    font-weight: bold;
    color: white;
}

.link{
    color: white;
}

.active {
    color: #ffffff;
}