.nav{
    grid-area: n;
    border: 1px Solid #1f1f1f;
    padding: 20px 10px;
    height: 100vh;
}


.item {
    padding-bottom: 10px;
    font-size: 20px;
    color: #605f5f;
    border-style: none;
}

.item_setting{
    padding-top: 20px;
}

.item a {
    font-size: 20px;
    color: #605f5f;
    border-style: none;
}

.item a:hover{
    font-weight: bolder;
    color: #0a0a0a;
}