

.post_wrapper {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.post_avatar{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #605f5f;
}

.post_message{
    font-size: 20px;
}