

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.app-wrapper{
  display: grid;
  grid-template-areas:
          "h h h"
          "n c c";
;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header{
  grid-area: h;
  background-color: blue;
  display: flex;
  align-items: center;
}

.header p {
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
  color: aliceblue;

}

.nav{
  grid-area: n;
  background-color: #676464;
}

.content{
  grid-area: c;
}

.content img {
  height: 200px;
  width: 100%;
}


